
/*************FONTS*************/

@font-face {
  font-family: motiva-thin;
  src: url(fonts/MotivaSansThin.ttf);
}

@font-face {
  src: url(fonts/SteamFontBold.ttf);
  font-family: logosteam
}

/*************BODY AND FRAME*************/

* {
  font-family: motiva-thin;
  padding: 0;
  margin: 0;
}

/*background-color: #1b2838;*/
body {
  background-image: linear-gradient(#2a475e, #1b2838);
  /* background-color: #1b2838; */
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainDiv {
  width: 100vw;
  height: 100vh;
}

/*************TOP BAR*************/

.topBar {
    background-color: #171a21;
    width: 100vw;
    /* padding-top: 17px; */
    align-items: center;
    display: flex;
    height: 14%;
}

/*************BAR-LEFT*************/

.steamTitleDiv {
  display: flex;
  align-items: center;
  padding-left: 4.5%;
}

.steamLogo {
  width: 10%;
  height: 9%;
  padding-right: 7px;
  transition: 0.5s;
}

.steamTitle {
  display: inline-block;
  color: #c7d5e0;
  font-family: logosteam;
  font-size: 25px;
  transition: 0.5s
}

.wishlistTitle{
  color: #c7d5e0;
  font-size: 90%;
  padding-top: 2.5%;
  padding-left: 5px;
  font-family: motiva-thin;
  transition: 0.5s
}

.steamLogo:hover{
  transform: scale(1.05);
}

/*************BAR-RIGHT*************/

.aboutMeDiv {
  position: absolute;
  right: 4%;
}

.link {
  color: #8f8f8f;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  font-size: 21px;
  text-shadow: 0 0 5px #66c0f4;
  color: #c7d5e0;
}

/*************INPUT-BAR*************/

input#userSteamID{
  background-color: #1b2838;
  height: 30px;
  width: 30vw;
  color: #c7d5e0;
  font-family: motiva-thin;
  font-size: 21px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px #66c0f4;
  padding-left: 10px;
  transition: 0.5s
}

input#userSteamID:hover{
  background-color: #22344a;
  box-shadow: 0px 0px 8px 0px #66c0f4;
  height: 33px;
  width: 31vw;
}

/*************BETWEEN-BAR-AND-GRAPH*************/

hr {
  width: 90.5%;
  background-color: #1b2838;
  height: 3px;
  border: 0;
  border-radius: 5px;
  margin-left: 4.5%;
  margin-top: 18px
}

/*************PLOTLY-GRAPH*************/

.mainGraph {
  height: 100vh;
}

/*************NOT-FOUND*************/

.divInstructions{

  display: inline-block;
  text-align: left;
}

.notFound{
  font-size: 50px;
}

/*color: #4e8fb5*/
.outputContent{
  text-align: center;
  color: #c7d5e0;
}

.instructionTitle{
  padding-top: 20px;
  padding-bottom: 12px
}

h3{
  padding-top: 5px;
  padding-bottom: 5px
}

.example_id{
  padding-top: 15px;
  padding-bottom: 10px
}

.url_ex{
  color: #66c0f4
}

.span_ex{
  color: #c7d5e0;
  text-shadow: 0 0 5px #66c0f4;
}

h3#final_instruction{
  padding-top: 15px
}
